
html{
    background-color: chocolate;
}
body {
    width: 70%;
    margin: 0 auto;
    background-color: bisque;
    padding: 20px 20px 20px 20px;
    border: 11px solid black;
    text-align: center;
    position: center;
}


.layout {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.title {
    width: 100%;
    height: 20%;
    font-size: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;



}
ul {
    width: 70%;
    margin:0 auto;
    font-size: 20px;
    color: darkslateblue;
    text-align: left;
    line-height: 30px;
}
ol {
    width: 70%;
    margin:0 auto;
    font-size: 10px;
    background-color: darkseagreen;
    text-align: left;
   padding: 20px 30px 10px 10px ;
    border:  10px solid black;
    line-height: 50px;

    font-weight: bold;

}
li{

    font-size: 25px;
    text-align: left;
    width: 40%;
    margin-left: 40%;
    margin-right: 20%;

}
#do_tabel
{
    overflow-x:auto;
    width: 80%;
    position: center;
    margin-left: auto;
    margin-right: auto;

}

img{

    position: center;
    padding-bottom: 7%;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;



}
p{
    font-style: normal;
    /*background-color: aliceblue;*/
    width: 75%;
    font-size: 20px;
    z-index: 1;
    padding: 20px 20px 20px 20px;
    text-align: center;
    position: center;
    margin-left: auto;
    margin-right: auto;}

 .italic_text{
    color: black;
    font-style: italic
}


h1 {

    width: 30vw;
    height: 10vh;
    top: 0;
    position: center;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    font-weight: bold;


}
.paragraph_text {
    font-style: normal;
    background-color: aliceblue;
    width: 80vw;
    height: 20vh;
    font-size: 16px;
    z-index: -1;
}

.italic_text{
    color: black;
    font-style: italic
}
.table{

    width: 100%;
    border-collapse: collapse;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    margin-right: auto;
    margin-left: auto;
    line-height: 20px;
    overflow: scroll;
}

#exampleA {
    width: 100%;
}
  th{
    font-weight: bold;
     border: 5px solid black;
     background-color: coral;
     border-collapse: collapse;

}
td{
     font-weight: normal;
    border: 2px solid black;
    background-color: papayawhip;

 }

h2{
    color: black;
    padding-top: 5%;
    font-weight: bolder;
}

a:link {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1%;
    word-wrap: break-word;

}
a:visited { color: darkred;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1%;
    word-wrap: break-word;

}
a:hover { color: red;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1%;
    word-wrap: break-word;

}
::selection {
    background: darkred;
    word-wrap: break-word;
}
#youtube_signing {
    font-style: italic;
    text-align: center;
    font-size: 18px;
  }
.movie {
    position: center;
}